/* Display pantallas */
#pokemonCard{
   display: none;
}
#pokemonList{
   display: none;
}
#divMaxCP{
   display: none;
}

/* Barra de navegación */
.topNav {
   overflow: hidden;
   background-color: #e9e9e9;
   margin-right:14px;
 }
 /* Barra de búsqueda */
 .topNav input[type=text] {
   float: right;
   padding: 6px; 
   border: none;
   margin-top: 8px;
   margin-bottom: 8px;
   margin-right: 8px;
   font-size: 12px;
 }
 .topNav input[type=button] {
   float: right;
   padding: 6px;
   border: none;
   margin-top: 8px;
   margin-bottom: 8px;
   font-size: 12px;
 }
 /* Menu lateral */
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 30;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     padding-top: 60px;
     transition: 0.5s;
   }
   .sidenav a, .dropdown-btn { /* Opciones de búsqueda */
     padding: 6px 8px 6px 16px;
     font-size: 18px;
     color: #818181;
     display: block;
     border: none;
     background: none;
     width: 100%;
     text-align: left;
     cursor: pointer;
     outline: none;
     transition: 0.3s;
   } 
   .sidenav a:hover, .dropdown-btn:focus {
     color: #f1f1f1; 
   }
 /* Submenu cerrado */
 nav {
   position: absolute;
   left: -100px;
 }
 nav.show { /* Submenu abierto */
   background: #cc0a0a;
   left:0;
   width: 100%;
 }
   .subMenu, .subm {
     margin-left: 10px;
     margin-top: 5px;
     margin-bottom: 5px;
     font-size: 13px;
     color: #f1f1f1; 
     text-align: left;
     list-style: none;
     padding: 0;
     border: none;
     background: none;
     width: 100%;
   }  
 .sidenav .closebtn {
     position: absolute;
     top: 0; 
     right: 25;  
     font-size: 36px;
     margin-left: 100px;
   } 
   .openbtn {
     margin-left: 10px;
 }
 
 /* FIN BARRA DE NAVEGACIÓN & SIDE MENU CSS */
 
 