*{
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("images/pokemon-pattern-background.png");
}
footer{
  background-color: #cccccc;
  text-align: right;
}
h1{
  font-weight: bolder;
  font-size: 32px;
}
h2{
  font-weight: bold;
  font-size: 22px;
}
/* Navigation Bar */
.navigationBar{
  background-color: #fb0505;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.searchBar{
  padding-right: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-self: flex-end;
}
.searchInput{
  width: 200%;
  height: auto;
  font-size: 18px;
  border-radius: 8px;
  padding-left: .5em;
}
.searchBtn{
  width: 20%;
  height: 200%;
  color: white;
}
.homeBtnDiv{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.homeBtn{
  width: 50%;
  height: 50%;
  max-width: 50px;
  max-height: 50px;
  margin: 10px 0px 10px 5px;
}
.homeBtnTitle{
  font-size: 20px;
  color: white;
  padding-left: 5px;
  margin-bottom: 10px;
  align-self: flex-end;
}

/* INDEX */
.home{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home_title{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.homeTitleImg{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
  height: 90%;
  max-width: 269px;
  max-height: 130px;
}
.home_medals{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0 1em 2em 1em;
}
.medals{
  margin: 2em;
  width: 70%;
  height: 70%;
  max-width: 130px;
  max-height: 160px;
}
/* INFO */
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.subContainer1{
  margin: 2em 0 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pokemonPicture{
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  padding: 1em;
  /* border: 2px solid #223d7f; */
  border-style: outset;
  border-radius: 20%;
  background-color: rgb(235, 235, 235);
}
.subContainer1-1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin: 2em 1em 2em 3em; */
  padding: 2em 1em 2em 3em;
}
.boxComp{
  margin: 0.5em 0em 0.5em 0em;
}
.box2{
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 0px #dddddd;
}
#pokeNum{
  font-size: 40px;
}
#pokeName{
  font-size: 36px;
}
#divTypeImg{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.infoTitle{
  font-size: 20px;
  font-weight: bold;
}
.subContainer2{
  display: flex;
  flex-direction: column;
}
.box5{
  margin: 1em 2em 1em 2em;
  border-bottom: 2px dashed gainsboro;
}
.box6{
  padding: 0 0 1.5em 0;
  margin: 1em 2em 1em 2em;
  border-bottom: 2px dashed gainsboro;
}
#divWeaknessesImg{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#box7{
  margin: 1em 2em 1em 2em;
}
.box8{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1em 2em 1em;
}
#idInputCP{
  width: 10%;
  min-width: 75px;
}

/* LISTS */
.listPageContainer{
  display: flex;
  flex-direction: column;
}
.listContainer{
  display: flex;
  flex-direction: row;
}
.listContainer footer{
  align-self: flex-end;
}
.container2{
  display: flex;
  flex-direction: column;
}
.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1em 2em 1em 3em;
}
.pokemonElement{
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 150px;
}
.pokemonDivTex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.listPokeImg{
  margin: 1em;
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  min-width: 100%;
  min-height: 100%;
}
/* LIST MENU */
/*SIDE BAR*/
/* .sideNav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainUl{
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.mainElement{
  border-top: 1px solid #2980b9;
  overflow: hidden;
}
.mainElement > a{
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: white;
  position: relative;
}
.mainElement > a::before{
  content: "";
  position: absolute;
  widows: 14px;
  height: 14px;
  background: #3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.mainElement > a i{
  margin-right: 10px;
}
.dropdown1{
  background: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}
.dropdown1 li{
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}
.dropdown1 li::before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.dropdown1 li:hover::before{
  opacity: 1;
}
.mainElement:target .dropdown1{
  max-height: 10em;
} */
.sideNav{
  width: 15%;
  display: block;
  padding: 6px 8px 6px 0px;
  border: none;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  margin-left: 0;
}
.sideNav ul li i{
  display: block;
  position: absolute;
  font-size: 28px;
  height: 1em;
  top: 0;
  bottom: 0;
  right: 0.1em;
}
.sideNav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.sideNav ul li{
  padding: 5px;
  position: relative;
  width: 190px;
  background-color: #223d7f;
  border-right: 2px solid white;
  border-top: 1px solid white;
  font-size: 16px;
}
.sideNav ul li:hover{
  background-color: rgb(150, 150, 150);
}
.sideNav ul ul{
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  left: 102%;
  top: -2%;
}
.sideNav ul li:hover > ul{
  opacity: 1;
  visibility: visible;

}
.sideNav ul li a{
  color: white;
  text-decoration: none;
}
/* MAIN MENU */
.containerMenu{
  width: 100%;
  margin: 0 auto;
}
.mainMenu{
  background-color: #223d7f;
}
.mainMenu ul{
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.mainMenu a{
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  padding: 10px;
  border-bottom: 4px solid #223d7f;
}
.mainMenu a:hover{
  background-color: white;
  color: black;
  border-bottom: 4px solid #fb0505;
  transition: .2s;
}

@media screen and (min-width: 768px){
  .mainMenu ul{
    display: flex;
    justify-content: space-between;
  }
  .mainMenu li{
    flex: 1 1 0;
  }
}
/* GAME */
#pokemonCardGame{
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#divAnswer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: .5em 0 .5em 0;
  background-color: white;
  border-color: #fb0505;
}
#spanAnswer{
  font-size: 36px;
  font-weight: bolder;
  color: black;
}
.bgGame{
  background: url("https://i.postimg.cc/FF2GDyVd/quieneseste.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.answerDiv{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.playAgain{
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemonSilhouette{
  filter: contrast(0%);
}
#answerInput{
  width: 20%;
  height: auto;
  font-size: 18px;
  border-radius: 8px;
  padding-left: .5em;
}
/* ABOUT */
.aboutSection{
  margin: 1em 2em 1em 2em;
}
section h1{
  padding: 1em;
  text-align: left;
}
section h2{
  padding: .5em;
  text-align: center;
}
section p{
  margin: 1em;
  text-align: start;
}
section ul{
  margin: 1em 2em 2em 3em;
  text-align: left;
}
/* CHARTS */
.statsDiv{
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.statsDiv h2{
  margin-bottom: .5em;
}
.statsDiv p{
  margin-bottom: 1em;
}
.getPokemonStatsDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pokeStatsInput{
  border-radius: 6px;
  padding-left: .5em;
  width: 50%;
}
#pokemonStatsBtn{
  margin: 1em 0 1em 0;
  width: 10%;
  border-radius: 6px;
  align-self: center;
  background-color: white;
  border: 2px solid #223d7f;
}
#statsChart{
  padding: .5em;
  margin: 0;
  background-image: radial-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));
}
